
body{
    background-color: var(--secondaryColor);
}

*{
    font-family: var(--font);
}

nav{
    width: auto;
    display: flex;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between
}

#topics-ul > li{
    padding: var(--navLinkPadding);
    margin: var(--navLinkMargin);
    border: var(--navLinkBorderSize) solid var(--linkBorderColor);
    width: 30%;
    min-width: 100px;
    text-align: center;
    
    background: var(--navLinkBg);
    background-repeat: no-repeat;
    background-position: -10px -5px;
    background-color: var(--mainColor);
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

#topics-ul > li:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.2s ease-in-out;
}

#topics-ul > li:active{
  border-color: var(--navLinkShadowColor);
}


header{
    display: flex;
    justify-content: center;
}

header > div{
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
    font-size: 30px;
}


.on{
    background-color: var(--mainColor);
}

#create-form td:has(#continent-settings){
    display: flex;
    flex-direction: column-reverse;
}

#continent-settings{
    text-align: center
}

#continent-settings > div{
    padding: 2px;
    width: 30%;
    margin: 5px auto;
    border: 2px solid var(--linkBorderColor);
    transition: 0.2s ease-in-out;
    
}

#continent-settings > div:hover{
    cursor: pointer;
    background-color: var(--navLinkShadowColor);
}

#create-form td{
   display: flex;
   flex-direction: row-reverse;
    justify-content: center;
}

tbody span{
    align-items: center;
    display: flex;
    padding: 5px;
}

#create-form label{
     margin: 5px 20px 5px 5px;
}

#create-form{
    width: 445.3px;
    margin: 0 auto;
    margin-top: 7%;
}

th{
    font-weight: 1000;
    font-size: 50px;
    padding-bottom: 10%;
    color: var(--mainColor);
    text-shadow: 2px 1px 0px black
}

select{
    background-color: var(--mainColor);
}

input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--mainColor);
  height: 13px;
  width: 13px;
  margin-top: -4px;
  transform: rotate(45deg);
  border: 1px solid black;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background: var(--mainColor);
    width: 40%;
}

button, input[type=submit]{
    border: 0px;
    padding: 5px;
    margin: 10px;
    background-color: var(--mainColor);
    border-radius: 2px;
}

button:hover, input[type=submit]:hover{
    box-shadow: 2px 2px 5px black inset;
    cursor: pointer;
}

#quiz-question{
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 1px var(--mainColor);
}

#quiz-container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
      margin-top: 7%;
}

#details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#past-questions-container{
    display: flex;
    justify-content: space-evenly;
}
#correct-questions-container{
    width: 20%;
    text-align: center;
    position: static;
}

#wrong-questions-container{
    width: 20%;
    text-align: center;
}

#quiz-heading{
    text-align: center;
    font-size: 50px;
    color: var(--mainColor);
    text-shadow: 2px 1px 0px black
}

#question-box{
    font-size: 50px;
    display: flex;
    padding: 10px;
    gap: 15px;
}

#answer-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 850px;
    height: 270px;
    margin: 0 auto;
}

#answer-box > div{
    width: 387.6px;
    border: 2px solid black;
    display: flex;
    font-size: 30px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    text-align: center;
    margin: 16.7px;
    background-repeat: no-repeat;
    background-size: contain;
}

#answer-box > div:not(.type-in-div):hover{
    cursor: pointer;
    transform: scale(105%);
    box-shadow: 1px 1px 5px black;
}

select{
    border: 0px;
}

#answer-box:has(#create-new-button){
    width: 100%;
    height: 10%;
    justify-content: center;
}

#create-form table{
    margin: 0 auto;
}

#create-form p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--mainColor);
}

#quiz-time{
    text-align: center;
    font-family: "Courier New"
}

#block-container{
    position: absolute;
    width: 870px !important;
    background-color: var(--mainColor);
    border: 0px !important;
    height: 300px;
    text-align: center;
    margin: 5px auto !important;
    font-size: 50px !important;
}

#answer-box > .type-in-div{
    border: 0px;
}

#settings{
    display: flex;
    flex-direction: column;
    left: 70px;
    width: 250px;
    position: relative;
    z-index: 3;
    left: 2%;
}

#themes-ul{
    display: flex;
    flex-direction: column;
}

#languages-ul{
    display: flex;
    flex-direction: column;
}

#settings-ul{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
}

#settings-ul div{
    font-size: 25px;
    padding: 5px;
}

#settings-ul li{
    padding: 2px;
}

.settings-1{
    background-color: var(--mainColor);
    margin: 0px;
    border: 0px;
    padding: 8px;
}

#settings li{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#settings-ul div{
    background-color: var(--navLinkShadowColor);
    /*border: 1.5px solid;*/
}

#settings-ul div:hover{
    box-shadow: 0px 0px 6px 0.1px black inset;
    cursor: pointer;
}

#settings-ul li li{
    background-color: var(--tertiaryColor);
    padding: 2px;
}

#settings-ul li li:hover{
    box-shadow: 0px 0px 10px 0.4px black inset;
    cursor: pointer;
}

#settings-button{
    height: 29px;
    width: 20%;
    min-width: 300px;
    max-width: 350px;
    padding: var(--navLinkPadding);
    margin: var(--navLinkMargin);
    border: var(--navLinkBorderSize) solid var(--linkBorderColor);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--navLinkRevBg);
    font-weight: normal;
    font-size: 24px;

}

#settings-button:hover{
    box-shadow: 0px 0px 10px 0.4px black inset;
    cursor: pointer;
}

.invisible{
    display: none !important;
}

#expand-topics{
    padding: var(--navLinkPadding);
    margin: var(--navLinkMargin);
    border: var(--navLinkBorderSize) solid var(--linkBorderColor);
    width: 20%;
    min-width: 200px;
    max-width: 250px;
    margin-right: 30px;
    text-align: center;
    background: var(--navLinkRevBg);
    background-position: -10px -5px;
    background-color: var(--mainColor);
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 3;
}

nav ul{
    transition: 1s;
    position: relative;
}

nav{
    height: 45px;

}

header{
    align-items: center;
}

#settings-ul{
    position: absolute;
    margin-top: 52px;
    width: 250px;
}

#cover{
    background-color: var(--secondaryColor);
    position: relative;
}

#actual-cover{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--secondaryColor);
    transform: translate(-530px);
}


header{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.covered{
    transform: translate(-730px);
}

header > div{
    width: 30%;
}

nav{
    width: 70%;
    font-size: 1.5rem;
}


nav{
    height: auto;
}

#topics-ul > li{
    min-width: 150px;
}

#actual-cover{
    transform: translateX(-730px)
}


header{
    background-color: var(--tertiaryColor);
    box-shadow: 1px 1px 3px 0.3px
}

#cover, #actual-cover{
    background-color: var(--tertiaryColor);
}

#settings{
    min-width: 333px;
}


.settings-1{
    min-width: calc(300px + var(--navLinkPadding) + var(--navLinkBorderSize));
    max-width: 350px;
    margin-left: calc(var(--navLinkMargin)/2);
    box-shadow: 1px 1px 3px 0.3px;
    background: var(--navLinkBg)
}

#themes-ul > li, #languages-ul > li{
    border: 0px !important;
}

#themes-ul, #languages-ul{
    justify-content: center;
    min-width: 300px;
    box-shadow: 1px 1px 3px 0.3px;
    margin-left: 2px;
}

#num-questions-show{
    padding: 0px;
    background-color: var(--secondaryColor);
    border: 0px;
    text-align: center;
}