:root{
    --font: Verdana;
    --linkBorderColor: black;
    --navLinkBorderSize: 2px;
    --navLinkPadding: 7px;
    --navLinkMargin: 4px;
    --mainColor: orangered;
    --secondaryColor: orange;
    --navLinkShadowColor: rgb(241, 182, 18);
    --navLinkBg:radial-gradient(var(--navLinkShadowColor),var(--mainColor) 80%);
    --navLinkRevBg: radial-gradient(var(--mainColor),var(--navLinkShadowColor) 80%);
    --tertiaryColor: rgb(136, 17, 17);
}   
